{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} All news {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
</head>

<body>
    {% block content %}
      <div class="album py-5 bg-light">
        <div class="container">
          <div style="margin: 0%; padding: 0%;">
            {% if tag.name %}
            <h1>{{ tag.name }} ga oid</h1>
            {% else %}
            <h1>{{ category.title }} </h1>
            {% endif %}

          </div>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            {% for new in news %}
            <div class="col">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ new.image.url }}" xmlns="{{ new.image.url }}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
                <div class="card-body">
                  <h3>{{ new.title }}</h3>
                  <p class="card-text">{{ new.description }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{% url 'new_detail' new.slug %}"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                
                    </div>
                    <div>
                    {{ new.views }}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16"> 
                      <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                      <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                    </svg>
                  </div>
                  <div>
                    {% for tag in new.tags.all %}
                    <small class="text-muted" style="margin: 0; padding: 0;">#{{ tag.name}},</small>
                    {% endfor %}
                  </div>
                    <small class="text-muted">{{ new.created|date:'d/m/y'}}/{{ new.created|time:'H:i'}}</small>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      {% endblock content %}
</body>
</html>